/* grant.vue 스타일 시작 */
.admin-grant {
    padding: 0.5rem 0;
}
.grant-search {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1rem;
}
.grant-search input{
    padding: 0.4rem 0.6rem;
}
.grant-list {
    margin-top: 1rem;
}
.grant-checkboxes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.75rem 0;
}
.grant-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* 끝 */